@charset "utf-8";
/* Assignment 1 | COMP1073 Client-Side JavaScript */

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #01a3a4;
}

.wrapper {
    height: 50vh;
    display: grid;
    grid-template-columns: 20vw 20vw 20vw 20vw 20vw;
    justify-items: center;
    align-items: center;
    background: linear-gradient(
        90deg,
        rgba(161, 99, 162, 1) 0%,
        rgba(59, 157, 202, 1) 25%,
        rgba(133, 160, 83, 1) 50%,
        rgba(226, 140, 65, 1) 75%,
        rgba(234, 120, 171, 1) 100%
    );
    border-bottom: 0.25em solid white;
}

button {
    width: 10vw;
    height: 10vh;
    border-radius: 10px;
    border: solid 2px;
    margin: 1em;
}

#storyOutput {
    font-size: 2em;
}
#btn1 {
    background-color: #a163a2;
}

#btn2 {
    background-color: #3b9dca;
}

#btn3 {
    background-color: #85a053;
}

#btn4 {
    background-color: #e28c41;
}

#btn5 {
    background-color: #ea78ab;
}

.butts {
    width: 5em;
    height: 5em;
    font-size: 1.3em;
    border: 0.25em solid white;
    border-radius: 50%;
    margin: 10px;
}
